<div class="footer">
    <!-- <div class="footerLinks">
      <div>Contact Us</div>
      <div>Visit Us</div>
      <div>Careers</div>
      <div>Blog</div>
      <div>Press Room</div>
      <div>FAQ</div>
      <div>Partners</div>
      <div>Help</div>
      <div class="keepTouch">
        <div>Keep in touch</div>
        <div><input type="email" placeholder="Email address"></div>
      </div>
      
    </div> -->
    <!-- <div class="disclouserStat">
      <div>Disclosure Statement</div>
      <div>Financials</div>
      <div>Privacy Policy</div>
      <div>Terms</div>
      <div>Subscribe To Our Newsletter</div>
    </div> -->
    <div class="row mr0">
      <div class="col-sm-6">
        <div class="">&copy; 2016-2020 Girl Scouts of the United States of America.<br />
          A  501(c)(3) Organization. All Rights Reserved. 
        </div>
      </div>
      <!-- <div class="col-sm-6 icons" style="padding-left: 145px;">
        <div><i class="fa fa-facebook"></i></div>
        <div><i class="fa fa-twitter"></i></div>
        <div><i class="fa fa-youtube-play"></i></div>
        <div><i class="fa fa-pinterest-p"></i></div>
        <div><img src="blog.png" style="width:35px;"></div>
        <div><i class="fa fa-linkedin"></i></div>
        <div><i class="fa fa-instagram"></i></div>
      </div> -->
    </div>
  </div>