
.main { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    width:100%;
    display: block;
    background-color: #f4f4f4;
}
.main-container {
    min-height: 320px;
    margin: 40px auto;
    width: 90%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.22)!important;
    padding: 30px 50px;
    background: #ffffff;
}

.main-container > div {
    margin: 10px 0px;
}
.btn-primary {
    background-color: #00AE58 !important;
    border: 1px solid #00AE58 !important;
    margin-top: 40px;
    font-family: 'Trefoil Sans Bold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    width: 250px;
}

.selectBox {
    width: 195px;
    border: 1px solid #cccccc !important;
    border-radius: 2px;
    padding: 0.5rem;
}
.selectDiv {
    margin: 10px 0px;
}

.selectDiv label {
    margin-right: 10px;
    width: 100px;
    text-align: right;
    font-size: 12px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.selectDiv input {
    width: 195px;
    padding: 0.5rem;
    border: 1px solid #cccccc !important;
    border-radius: 2px;
}
.input-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

form .form-control {
    font-size: 12px;
    border-radius: 0px;
    height: 35px;
    border-color: #c7c7c7;
    transition: border-color .25s ease-out;
}

// .selectBox {
//     width: 350px;
//     border: 1px solid #cccccc !important;
//     border-radius: 2px;
//     padding: 0.5rem;
// }
// .selectDiv {
//     margin: 10px 0px;
// }

// .selectDiv label {
//     margin-right: 10px;
//     width: 100px;
//     text-align: right;
// }
// .selectDiv input {
//     width: 350px;
//     padding: 0.5rem;
//     border: 1px solid #cccccc !important;
//     border-radius: 2px;
// }

.mt4 {
    margin-top: 40px;
}
.mLeft {
    margin-left: 128px;;
}

.mr0 {
    margin-right: 0px !important;
}
.mt35 {
    margin-top: 35px;
}
.rightsText {
    font-size: 17px;
    line-height: 30px;
}