<div class="header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 logo">
            <a routerLink="/search">
                <img src ="https://www.girlscouts.org/content/dam/girlscouts-gsusa/images/logo/logo.png.transform/cq5dam.web.1280.1280/img.png">
            </a>
            </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <button class="btn btn-user" routerLink="/register-user">Create User</button>
        </div>
    </div>
</div>