.main { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    width:100%;
    display: block;
    background-color: #ffffff;
}
.header {
    background-color: #00AE58;
}
.header .row {
    margin: 0px;
}
.logo {
    padding: 20px 10px 20px 50px;
}
.btn-user {
    background: #fece2c;
    color: #000000;
    margin: 15px;
    font-family: "Trefoil Sans Bold", Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.main-container {
    min-height: 320px;
    margin: 40px auto;
    width: 80%;
}

.main-container > div {
    margin: 10px 0px;
}